
---

import '../styles/global.css';

const pageTitle = "About Me";

const identity ={
firstName: "Robert",
country: "Scotland",
occupation: "Physics guy",
hobbies: ["guitar", "art and code", "swimming"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "red";
const fontWeight = "800";
const textCase = "upperCase";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill{
        color: green;
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>

    {happy && <p>I am happy to be learning astro</p>}

    {finished && <p>I finished this tutorial</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not 3 days</p>}

    <p>Here are some facts about me:</p>

    <ul>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country}</li>
        <li>My occupation is {identity.occupation }</li>
        <li>My hobies are {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
    </ul>

    <p>My skills are:</p>
<ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>




	</body>
</html>
